body {
  background: #fffbea;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.chat-container {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #aaa;
}

#chatbox {
  height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.user { color: blue; font-weight: bold; }
.bot  { color: green; font-weight: bold; margin-bottom: 8px; }
